.quiz-layout{
    display: grid;
    place-content: center;
    color: #dff9fb;
}
.quiz-nav{
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-bottom: 1em;
}
.question-card{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: 
    'qno qno options'
    'question question options'
    'prev-btn next-btn options'
    'submit-btn submit-btn options';
    
    min-width: 55rem;
    max-width: 55rem;
    gap: 1em 3em;
    padding: 3em 5em;
    border-radius: 10px;
    background-color: #30336b;

}
.question-number{
    grid-area: qno;
    font-weight: 400;
}
.question-number span{
    font-size: 2rem;
    font-weight: 700;
}
.question-text{
    grid-area: question;
    font-weight: 400;
}
.options{
    grid-area: options;
    list-style: none;
}
.option{
    display: flex;
    gap: 1em;
    align-items: center;
    cursor: pointer;
    transition: 250ms ease transform;
    padding-left: 1em;
    margin-block: 1em;
    border-radius: 5px;
    border: 2px solid #dff9fb;
    
}
.option label{
    padding: 1em ;
    cursor: pointer;
    width: 100%;
}
.option:hover{
    transform: scale(1.09);
}
.prev-btn{
    grid-area: prev-btn;
}
.submit-btn{
    grid-area: submit-btn;
}
.next-btn{
    grid-area: next-btn;
}
.btn{
    border: 0;
    background-color: #dff9fb;
    border-radius: 5px;
    cursor: pointer;
    padding-block: 1em;
    font-weight: 800;
    color: #30336b;
    transition: 250ms ease;
    font-size: 1rem;
    padding-inline: 2em

}
.btn:not(:disabled):hover{
    opacity: 0.7;
    
}
.btn:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
.score-card{
    text-align: center;
}
.score-text{
    font-weight: 400;
    margin-bottom: 1em;
}
.nav-btn{
    font-size: .8rem;
    border: 2px solid #dff9fb;
    transform: scale(0.9);
}
.nav-btn.active{
    color: white;
    background: transparent;
    transform: scale(1.1);
}
.btn.answered{
    background-color: #badc58;
    border: 2px solid #badc58;
    color: #30336b;

}

@media screen and (max-width: 450px) {
    .question-card{
        grid-template-columns: 1fr 1fr;
        max-width: 90vw;
        min-width: 90vw;
        padding: 1em;
        grid-template-areas: 
        'qno qno'
        'question question'
        'options options'
        'prev-btn next-btn'
        'submit-btn submit-btn';
    }
    .quiz-layout{
        padding-block: 1em;
    }
}