*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    
}
html{
    
}
body{
    
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: #130f40;
}
body, btn{
  font-family: system-ui;
}